@import "../../utils/commonColor";

.not-found {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  line-height: 128px;

  .state {
    display: inline-block;
    padding-right: 64px;
    color: $borderColor;
    font-size: 64px;
    border: 1px solid white;
    animation: state .5s alternate infinite;
  }

  .text {
    padding-left: 64px;
    color: $baseColor;
    font-size: 36px;
  }
}

@keyframes state {
  from {
    box-shadow: inset -3px 0 0 -1px $thinColor;
  }
  to {
    box-shadow: inset -3px 0 0 -1px transparent;
  }
}

